In [2]:
f = 'my name is raj'
print(f.title())
#lower, upper

My Name Is Raj

In [4]:
f.find('name')

3

In [7]:
a= f.replace('raj','Suraj')
print(a)

my name is Suraj

In [9]:
ab = " my name is rahul  "
print(ab.strip())
print(ab.lstrip())
print(ab.rstrip())

my name is rahul
my name is rahul
 my name is rahul

In [14]:
ac = "shdv hjdsfj \t jsfdkj \n dhfs"
print(ac)

shdv hjdsfj 	 jsfdkj
 dhfs

In [19]:
#integer, float
da= 24
na = 'name'
we = str(da) + na

In [20]:
 """sdf
 dfs
 df
"""
#list
mon = ['jan','feb','mar','apr']
print(mon[0].title())

Jan

In [21]:
mon[0]

'jan'

In [23]:
mon.append('may')
mon

['jan', 'feb', 'mar', 'apr', 'may', 'may']

In [24]:
mont=[]

In [25]:
mon.insert(0,'start')

In [26]:
a = mon.pop()

'may'

In [28]:
mon.remove('mar')

In [29]:
mon

['start', 'jan', 'feb', 'apr', 'may']

In [32]:
mon.sort(reverse=True)
mon

['start', 'may', 'jan', 'feb', 'apr']

In [34]:
len(mon)

5

In [38]:
for ab in mon:
    print(ab.title())

Start
May
Jan
Feb
Apr

In [40]:
#Numercal list
for i in range(1,5,2):
    print(i)

1
3

In [42]:
nu = list(range(1,5))
nu

[1, 2, 3, 4]

In [45]:
squ = []
for val in range(1,11):
    sq = val ** 2
    squ.append(sq)
print(squ)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [47]:
print(min(squ))
print(max(squ))
print(sum(squ))

1
100
385

In [52]:
squ[3:]

[16, 25, 36, 49, 64, 81, 100]

In [55]:
for i in mon[:4]:
    print(i)

start
may
jan
feb

In [58]:
ab = mon[:]
ab

['start', 'may', 'jan', 'feb', 'apr']

In [60]:
isinstance(a,str)

True

In [63]:
mon[1]='jan'
mon

['start', 'jan', 'jan', 'feb', 'apr']

In [65]:
ab = ['a','b','c',[100,'a',('ac','tc'),1],5]
ab[3][2][1]

'tc'

In [69]:
ac ="ac ta sb sc tr".split()
ac

['ac', 'ta', 'sb', 'sc', 'tr']

In [70]:
#+,-, %(Remainder),/(float output),//(Int Output)
3%4

3

In [77]:
# 5/2

In [78]:
#<,>,>=,==
#and, or, not (comparision operater)

In [80]:
type(mon)

list